{% from "macros.html" import reading_age_summary with context %}
{% extends "base.html" %}
{% block content %}
					<header class="entry-header">
						<h1 class="entry-title">How do government Covid19 response sites perform?</h1>
					</header>

<p>Good online responses are <em>fast</em> to load, removing frustration and minimising data costs for users. They are <em>accessible</em>, working on a wide range of devices and for a wide range of users' abilities. They are <em>written clearly</em>, avoiding jargon and not expecting technical understanding.</p>
					<p>Those are the foundations. Great teams build on them with a clear focus on user needs, and strong feedback loops that let them keep making their information and services better.</p>
					<p>We've been tracking 80-90 government Coronavirus/Covid19 response websites and analysing how well they're covering the basics. These are the interim results, intended to gather feedback.</p>
					<p>If you want to understand the methodology, you can <a href="https://github.com/jystewart/covid19-response-screenshots">find the raw data and code on github</a>. If you want to provide feedback (and we'd really appreciate that), please <a href="mailto:covidsites-feedback@public.digital">email James Stewart</a>.</p>

					<div class="entry-content">
						<table id="site-results">
							<thead>
								<th>Government</th>
								<th>Site</th>
								<th>Average speed</th>
								<th>Average accessibility</th>
								<th>Reading age</th>
							</thead>
							<tbody>
							{% for site in top_sites %}
							<tr>
									<td>{{sites[site]['gov_name']}}</td>
									<td><a title="{{site}}" href="{{site}}">{{site|truncate(60, True)}}</a></td>
									<td>{{top_sites[site]['speed']|round(2)}}</td>
									<td>{{top_sites[site]['accessibility']|round(2)}}</td>
									<td>{{reading_age_summary(top_sites[site]['reading_age'])}}</td>
									<td><a title="Full report on {{site}}" href="{{sites[site]['detail']}}">full report</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/sorts/tablesort.number.min.js"></script>
<script type="text/javascript">
if (document.readyState !== 'loading') {
	new Tablesort(document.getElementById('site-results'));
} else {
	document.addEventListener("DOMContentLoaded", function() {
		new Tablesort(document.getElementById('site-results'));
	});
}

</script>
{% endblock %}
