<!DOCTYPE html>
<html lang="en-GB" class="no-focus-outline">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="profile" href="https://gmpg.org/xfn/11">
		<title>How do government Covid19 response sites perform?</title>
		<link rel="stylesheet" href="/styles.pure.css" type="text/css" media="all">
	</head>
		<style type="text/css">
h1 {
	font-size: 4em;
	line-height: 100%;
}
						#top-status th {
							text-align: left;
						}
						#top-status td {
							line-height: normal;
							width: 200px;
						}
						#top-status strong {
							font-size: 6rem;
						}
		</style>
	</head>
	<body class="home page-template-default page page-id-1120 wp-custom-logo no-sidebar">
		<div id="page" class="site pd-wrapper">
			<header id="masthead" class="site-header pd-masthead bg--coal">
				<div class="content-area">
					<div class="site-branding pd-masthead__logo">
						<a href="/">How do government Covid19 response sites perform?</a>
					</div><!-- .site-branding -->

					<nav id="site-navigation" class="main-navigation pd-nav">
						<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
						<ul id="primary-menu" class="menu">
							<li id="menu-item-929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-929"><a href="/">Home</a></li>
						</ul>			</nav><!-- #site-navigation -->

				</div><!-- .content-area -->

			</header><!-- #masthead -->



			<main id="content" class="site-content pd-container">


				<div id="primary" class="content-area">


					<article class="post-1120 page type-page status-publish has-post-thumbnail hentry">
						<header class="entry-header">
							<h1 class="entry-title">Performance of {{site_name}}</h1>
						</header>


						<div class="entry-content">
							<table id="top-status">
								<thead>
									<tr>
										<th>Speed</th>
										<th>Accessibility</th>
										<th>Reading age</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<strong>{{current_speed}}</strong>
											{% if average_speed %}<br />Average: {{average_speed|round(2)}}{%else%}-{%endif%}
										</td>
										<td>
											<strong>{{current_accessibility}}</strong>
											{% if average_accessibility %}<br />Average: {{average_accessibility|round(2)}}{% else %}-{%endif%}
										</td>
										<td>
											{% set reading_age_parts = reading_age.split() %}
											<strong>{{reading_age_parts[0]}}</strong>
											<br />{{reading_age_parts[1:]|join(' ')}}</td>
									</tr>
								</tbody>
							</table>

							{% if video_url %}
							<h2>What it feels like to watch it load</h2>
							<p>This video shows the experience of loading the site on a (globally) average device and internet connection, compared with our highest performing site.</p>
							<video width="816" height="360" controls>
								<source src="{{video_url}}" type="video/mp4">
								Your browser does not support the video tag. <a href="{{video_url}}">Click here to download the video.</a>
							</video>

							{% endif %}
							<h2>How it's changed over time</h2>
							<p>Great responses change and evolve as the situation changes and as our understanding of user needs change.</p>
							<p>What shouldn't change is their speed, accessibility and clarity. We've captured a timelapse of this site over time and built graphs of their scores over time.</p>

							<p><img src="{{timelapse_filename}}" alt="Timelapse" /></p>

							<h3>Speed</h3>
							<canvas id="speed-chart" width="400" height="200"></canvas>

							<h3>Accessibility</h3>
							<canvas id="accessibility-chart" width="400" height="200"></canvas>

							<p>Note: A score of 0 usually shows a gap in our data, not a regression in the site's behaviour.</p>

							<h2>We still intend to add:</h2>
							<ul>
								<li>Who owns this site? Perhaps grouping sites from the same government</li>
								<li>How much does it cost to load the site based on local data costs?</li>
								<li>Where this site appears in the league tables</li>
							</ul>
						</div>

					</article>


				</div><!-- #primary -->


			</main><!-- #content -->

			<footer id="colophon" class="site-footer pd-footer bg--coal">
				<div class="content-area">


					<p class="site-info">© Copyright 2020</p>

				</div><!-- .content-area -->
			</footer><!-- #colophon -->
		</div><!-- #page -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
		<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
			var date_labels = [ '{{ over_time['speed'].keys()|join("','") }}' ]
var base_options = {
	showLines: false,
	scales: {
		yAxes: [{
			ticks: {
				beginAtZero: true,
				min: 0,
				max: 1
			}
		}]
	}
}
var ctx = document.getElementById('speed-chart').getContext('2d');
var speedChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: date_labels,
		datasets: [{
			label:"Site speed on a scale of 0 to 1",
			data: [ {{ over_time['speed'].values()|join(",")|replace("None", "0") }} ],
			fill: false,
			pointRadius: 6,
			pointBackgroundColor: "red",
			borderColor: "red",
			"lineTension":0.1
		}]
	},
	options: base_options
});
var cty = document.getElementById('accessibility-chart').getContext('2d');
var speedChart = new Chart(cty, {
	type: 'line',
	data: {
		labels: date_labels,
		datasets: [{
			label:"Site accessibility on a scale of 0 to 1",
			data: [ {{ over_time['accessibility'].values()|join(",")|replace("None", "0") }} ],
			fill: false,
			pointRadius: 6,
			pointBackgroundColor: "blue",
			borderColor: "blue",
			"lineTension":0.1
		}]
	},
	options: base_options
});
});
		</script>
	</body></html>
